<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main>
            <div class="card">
                <div class="card-image is-centered">
                    <img src="https://i.imgur.com/pT3Ilgr.png" alt="">
                </div><br>
            <h1 style="color: teal; font-weight: 900;">Account Login</h1><br>
            <form action="/auth/login" method="POST">
                <input type="text" placeholder="Username" name="username"><br><br>
                <input type="password" placeholder="Password" name="password"><br><br>
                <input type="submit" value="Login" style="background-color: teal; color: white; border: solid teal;"">
            </form>
            <br>
            <br>
            <br>
            Or Sign Up!
            <a href="/auth/signup"><button style="background-color: teal; color: white; border: solid teal;">Signup</button></a>
            </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>