<header class="auth">
    <a href="/" class="head-item">Home</a>
    <a href="/about" class="head-item">About</a>
    <a href="/appointments" class="head-item">Appointments</a>
    <a href="/auth/logout" class="head-item">Logout</a>
</header>