<header class="auth">
    <div class="navbar-brand">
        <img src="https://i.imgur.com/AibNVWG.png" alt="">
    </div>
    <a href="/" class="head-item">Home</a>
    <a href="/about" class="head-item">About</a>
    <a href="/appointments" class="head-item">Appointments</a>
    <a href="/auth/logout" class="head-item">Logout</a>
</header>