<footer class="footer">
    <div class="content has-text-centered" style="display: flex; justify-content: space-around;">
        <a href="/appointments">Appointments</a>
        <a href="/location">Location</a>
    </div>
</footer>