<footer>
        <div class="foot">
                <a href="/appointments" class="footer-item">Appointments</a>
                <a href="/location" class="footer-item">Location</a>
        </div>
</footer>