<header class="header">
    <div class="nav has-text-centered" style="display: flex; justify-content: space-around;">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Login</a>
    </div>
</header>
