<header>
        <div class="head">
                <a href="/" class="head-item">Home</a>
                <a href="/about" class="head-item">About</a>
                <a href="/auth/signup" class="head-item">Sign Up</a>
                <a href="/auth/login" class="head-item">Login</a>
        </div>
</header>
