<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="about">
                <h1 class="title">ABOUT ABOUT ABOUT ABOUT</h1><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium numquam nesciunt fugit, vel pariatur magni corporis, non eius vitae soluta impedit asperiores voluptate aliquid porro praesentium quas explicabo repudiandae. Ducimus.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ipsam molestias in voluptate aut sapiente nihil facere, autem quod eius nisi dolores? Debitis sunt corporis fugit corrupti praesentium non mollitia!</p>
            </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>