<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="location">
                45 Some Street In Town | Tampa, FL<br>
                (555) 555-5555 | <a href="/new">Appointments</a><br>
                Mon - Sat: 8am - 7pm
            </div>
            <div class="main-desc">
                <span class="desc-title">Material</span>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, perspiciatis voluptatum repellendus itaque nam iste, iusto nulla vitae voluptate molestiae cum corrupti voluptates atque asperiores esse est error molestias ullam.
                <div class="photos" style="display: flex;">
                    <div class="photo"><img src="https://i.imgur.com/5oU2GwN.jpg" alt=""></div>
                    <div class="photo"><img src="https://i.imgur.com/6l7atbV.jpg" alt=""></div>
                    <div class="photo"><img src="https://i.imgur.com/GcxJrd4.jpg" alt=""></div>
                </div>
                <a href="/about"><button style="width: 100px; height: 50px; background-color: rgb(198, 198, 198); color: black; font-weight: 900; border: solid rgb(198, 198, 198);">More Info</button></a>
                <br>
                <br>
                <span style="text-decoration: underline;">Services</span>Men and Women's Haircuts, Color and Highlights, Styling, Extensions etc. 
            </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>