<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <img class="logo" src="https://i.imgur.com/lGhadrs.png" alt="">
            <h1>HELLO WORLD! LEGGO!</h1>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>