<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
      <div class="card" style="font-weight: 600; color: teal;">
        <div class="card-image is-centered">
            <img src="https://i.imgur.com/pT3Ilgr.png" alt="">
        </div>
        <h1 style="font-weight: 600; text-decoration: underline;">Make An Appointment</h1><br>
        <form action="/appointments" method="POST">
            Name: <input type="text" name="name"><br><br>
            Date: <input type="date" name="date" id="" min="2021-01-01" max="2031-01-01"><br><br>
            <label for="type">Appointment Type: </label><select name="type" id="">
              <option value="Consultation">Consultation</option>
              <option value="Cut">Cut</option>
              <option value="Color">Color</option>
              <option value="Cut & Color">Cut & Color</option>
              <option value="Blowout">Blowout</option>
            </select><br><br>
            <input type="submit" name="" value="Book It!" style="background-color: teal; color: white; border: solid teal;">
        </form>
      </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>