<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
        <h1>Make An Appointment</h1>
        <form action="/appointments" method="POST">
            Name: <input type="text" name="name">
            Date: <input type="date" name="date" id="" min="2021-01-01" max="2031-01-01">
            <label for="type">Appointment Type: </label><select name="type" id="">
              <option value="consultation">Consultation</option>
              <option value="cut">Cut</option>
              <option value="color">Color</option>
              <option value="both">Cut & Color</option>
            </select>
        </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>