body {
    background: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://i.imgur.com/bm6NXAr.jpg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    min-height: 100vh;
    width: 100vw;
}

.title {
    font-family: "zen dots";
    text-align: center;
    margin-top: 200px;
    width: 100%;
    color: black;
    background-color: rgb(128, 128, 128, 0.3);
}

.location {
    margin: 100px 800px 0 0;
    background: rgb(255, 255, 255, 0.3);
    padding: 10px;
    font-weight: 600;
    color: black;
}

.main-desc {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 1000px;
    background-color: black;
    height: 1000px;
    text-align: center;
    font-family: "zen dots";
}

.desc-title {
    font-size: 60px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-column-gap: 5px;
}

.photo {
    width: 50%;
    margin-bottom: 50px;
}

#p-one, #p-two {
    justify-self: end;
}

#p-three {
    padding: 10px;
}

.about {
    width: 50%;
    background-color: rgba(12, 12, 12, 0.6);
    height: 100vh;
    margin: 100px;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.card {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

#apmts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
}

#appcards {
    background-color: rgba(12, 12, 12, 0.6);
    border-top: solid whitesmoke 3px;
    border-bottom: solid whitesmoke 3px;
    color: white;
    margin: 30px;
}

.apmt-card {
    width: 200px;
    font-weight: 600;
}

.head {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: sticky;
    top: 0;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-top: solid black 5px;
}

.auth {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.head-item {
    font-weight: 900;
    color: black;
}

.head-item:hover {
    color: teal;
}

.footer-item {
    font-weight: 900;
    color: black;
    border: solid black 3px;
    padding: 30px;
    border-radius: 5px;
}

.footer-item:hover {
    color: teal;
}

input {
    padding: 5px;
    width: 200px;
}